.vehicle-display-wrapper{
    display: grid;
    grid-template-columns: auto;
}

.display-image img{
    max-width: 100%;
}

.display-details-wrapper div p, .display-details-wrapper h2{
    margin: 5px;
}

.display-description, .display-stock{
    background-color: #ccc;
    padding: 3px;
}

/*Large Viewports*/
@media only screen and (min-width: 800px) {
    .vehicle-display-wrapper{
        display: grid;
        grid-template-columns: auto auto;
    }
}